#!/bin/bash

DB_USER=<your_db_username>
DB_PASS=<your_db_password>
DB_NAME=db_teste_leon
SEED_FILE=seeder.sql
CREATE_FILE=meu_database.sql

echo "Dropping the database..."
mysql -u $DB_USER -p$DB_PASS -e "DROP DATABASE IF EXISTS $DB_NAME;"

echo "Creating the database..."
mysql -u $DB_USER -p$DB_PASS < $CREATE_FILE

echo "Seeding the database..."
mysql -u $DB_USER -p$DB_PASS < $SEED_FILE

echo "Database reset and seeded successfully!"
